<img style="position: absolute; width:100%;" id="image" src="last_mms.jpg" />
<h1 style="background: black; color: white; padding: .25em; font-family: Arial; position: absolute;">Send a text with the word "mimsy" and an image attached to 343434,<br /> then wait 10 seconds</h1>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="mimsy.js"></script>
<script type="text/javascript">
  setInterval(function() {
    document.getElementById('image').src = document.getElementById('image').src
  }, 10000);
</script>